body {
    margin: 0 auto;
    height: 100vh;
}
.text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    height: 100%;
    background-color:#F0F0F0;
    font-size: 14px;
}