body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.conteiner {
    margin: 0 auto;
    width: 1500px;
}
.background-header {
    width: 100vw;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.header-conteiner {
    margin: 0 auto;
    width: 1500px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.wrapper {
    margin: 0 50px;   
}
.title {
    display: inline-block;
    margin: 0;
}
a {
    color: #008CF0;
    text-decoration: none;
}
a:hover {
    color: #F36223;
}
a:active{
    color: #A93A09;
}
.nav a:last-child {
    color: #F36223;
}

.header__name {
    margin: 19px 0 27px 0;
}
.header__elements {
    z-index: 100px;
    margin: 19px 0 27px 0;
    display: flex;
    gap: 28px;
}
.header__elements_favorite{
    position: relative;
    cursor: pointer;
}
.header__elements_favorite img{
    height: 35px;
}
.header__elements_basket{
    position: relative;
    cursor: pointer;
}
.header__elements_basket img{
    height: 35px;
}
.basket__elements_amount {
    display: none;
    position: absolute;
    top: -8px;
    left: 22px;
    right: calc(100%-20px);
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 3px 5px;
    font-size: 14px;
}
/* .basket__elements_amount.visible {
    display: block;
} */
.header__elements_amount {
    display: none;
    position: absolute;
    top: -8px;
    left: 22px;
    right: calc(100%-20px);
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 3px 5px;
    font-size: 14px;
}
.basket__elements_amount {
    display: none;
    position: absolute;
    top: -8px;
    left: 22px;
    right: calc(100%-20px);
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 3px 5px;
    font-size: 14px;
}
#start {
    width: 31px;
    height: 36px;
    transform: translateY(1px);
}
.text-logo {
    color: #FF5722;
}
.nav {
    margin-top: 90px;
}
.name {
    margin: 8px 0 30px 0;
}
.apple {
    display: flex;
    gap: 15px;
}
.apple__img {
    max-height:387px;
}
.produkt {
    display: flex;
    margin-top: 30px;
    gap: 100px;
}
.solid {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
    flex-grow: 1;
}
.solid h3 {
    margin: 0;
}
.solid p {
    margin: 0;
}
.color {
    display: flex;
    gap: 10px;
}
.color__list {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #888888;
    border-radius:4px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    order: 1;
    flex-grow: 0;
}
.color__list:hover {
    background: #F2F2F2;
}
.color__list:active {
    border: 2px solid #A93A09;
}
.color__list_selected {
    border: 2px solid #F36223;
}
.color__list_img {
    height: 60px;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}
.section__table {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}
.memory {
    display: flex;
    gap: 10px;
}
.memory__list {
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
    width: 92px;
    height: 39px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.memory__list:hover {
    background: #F2F2F2;
}
.memory__list_selected {
    border: 2px solid #F36223;
}
.memory__list:active {
    border: 2px solid #A93A09;
}
.simile {
    font-size: 100%;
    border: 1px solid #888888;
    border-collapse: collapse;
}
.simile__header {
    border: 1px solid #888888;
}
.simile__header_row {
    padding: 10px 10px;
    text-align: center;
}
.simile__tbody {
    padding: 10px 10px;
    text-align: center;
}
.simile__tbody_row {
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
}
.simile__tbody:hover {
    background: #F2F2F2;
}
.list {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}
.review {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.review__header {
    display: flex;
    justify-content: left;
    gap: 10px;
}
.review__header p{
    margin: 0;
    font-size: 24px;
}
.rewiew__header_number {
    color: #aaaaaa;
    font-size: 24px;
}
.review__block {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.review__block_foto {
    height: 140px;
    border-radius: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
}
.review__block_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px dashed #888888;
    padding-bottom: 30px;
}
.review__block:last-child .review__block_info {
    border-bottom: none;
}
.review__block_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.review__block_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
}
.review__block_text p {
    margin: 0;
}
.review__block_header_name {
    font-size: 20px;
    margin: 0;
}
.review__block_header_star {
    height: 30px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 40px;
    flex-grow: 0;
}
.price {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: flex-start;
    max-width: 380px;
    padding: 20px;
}
.price__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.price__old {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.price__sale {
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    margin: 0;
    padding: 4px 8px;
}
.price__old_cross-out {
    color: #888888;
    font-size: 16px;
}
.checkbox {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 28px;
	height: 22px;
}
.checkbox + svg {
    fill:#888888;
    cursor: pointer;
}
.checkbox:hover + svg {
    fill:#F36223;
  }
.checkbox:active + svg{
    fill:#A93A09;
}
.price__new {
    font-size: 32px;
    margin-top: 10px;
}
.price__text {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px; 
}
.price__btn {
    margin-top: 35px;
    padding: 20px 49px;
    text-align: center;
    width: 380px;
    height: 64px;
    background: #F36223;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.price__btn:hover {
    background: #DA4A0C;
    
}
.price__btn:active {
    background: #A93A09;
    
}
.price__btn::before {
    content: ""; 
    text-align: center;
    background-image: url(./icon/basket.svg);
    display: inline-block;
    width: 20px;
    height: 19px;
    margin-right: 17px;
}
.ad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ad__header {
    margin: 0;
    color: #888888;
    text-align: start;
}
.ad__iframe {
    margin: 0 0 5px 0;
    width: 420px;
    height: 300px;   
    border: 1px dashed #888888;
}
.ad__iframe:last-child {
    margin: 0;
}
.footer-background {
    background-size: 100vw;
    background: #F2F2F2;
}
.footer-conteiner {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    padding: 30px 50px;
    font-size: 14px;
    font-family: sans-serif;
}
.footer__info_header {
    margin: 0;
    font-weight: 700;
}
.footer__info_text {
    margin: 0;
}
.footer__scroll {
    padding: 30px 50px;
    font-size: 16px;
    font-family: sans-serif;
}
.form {
    padding: 0 170px;
    max-width: 706px;
    margin-bottom: 100px;
}
.form__name {
    padding: 0;
    margin: 30px 0 15px 0;
    font-size: 16px;
    font-weight: 700;  
}
.form__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.form__first {
    display: flex;
    gap: 30px;
    max-width: 706px;
    justify-content: space-between;
}
input::placeholder {
    font-size: 16px;
    color: #888888; 
}
.form__first_name {
    box-sizing: border-box;
    width: 495px;
    margin: 0;
    padding: 15px 20px;
    border: 1px solid #888888;
}
.form__first_rating {
    box-sizing: border-box;
    margin: 0;
    padding: 15px 20px;
    width: 175px;
    border: 1px solid #888888;
}
.form__second {
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    width: 706px;
    height: 190px;
    box-sizing: border-box;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border: 1px solid #888888;
    resize: none;
}
.container-name_error {
    display: none;
    padding: 8px 20px;
    background-color:#DA4A0C;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}
.container-name_error.visible {
    display: block;
    box-sizing: border-box;
    width: 495px;
    z-index: 1000;
    position: absolute;
}
.form__first_name.visible {
    border: 1px solid #DA4A0C;
}
.form__first_rating.visible {
    border: 1px solid #DA4A0C;
}
.container-score_error {
    display: none;
    padding: 8px 20px;
    background-color:#DA4A0C;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}
.container-score_error.visible {
    display: block;
    box-sizing: border-box;
    width: 175px;
    z-index: 1000;
    position: absolute;
}
.form__first_rating:hover {
    border: 1px solid #000000;
}

.form__first_name:hover {
    border: 1px solid #000000;
}
.form__second {
    font-family: inherit;
    font-size: 16px;
    padding: 15px 20px;
}
.form__second:hover {
    border: 1px solid #000000;
}
.form__button {
    background-color: #F36223;
    border-radius: 4px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    max-width: 177px;
    cursor: pointer;
}
.form__button:hover {
    background: #DA4A0C;
}
.form__button:active {
    box-sizing: border-box;
    background: #A93A09;
}
@media (min-width: 1024px) and (max-width: 1499px) {
    .wrapper {
        margin: 0 15px;   
    }
    .header {
        padding: 0;
        margin: 0 15px;
    }
    .apple__img {
        max-height: 272px;
    }
    .produkt {
        display: flex;
        margin-top: 30px;
        gap: 40px;
    }
    .section__table {
        display: none;
    }
    .review__block_foto {
        height: 100px;
        border-radius: 100px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .review__block_header_star {
        height: 20px;
    }
    .form {
        padding: 0 0;
        max-width: 706px;
        margin-bottom: 100px;
    }
    .footer__info {
        padding: 30px 15px;
    }
    .footer__scroll {
        padding: 30px 15px;
    }
}