.footer-background {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #F2F2F2;
}
.footer-conteiner {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    padding: 30px 50px;
    font-size: 14px;
    font-family: sans-serif;
}
.footer__info_header {
    margin: 0;
    font-weight: 700;
}
.footer__info_text {
    margin: 0;
}
.footer__scroll {
    padding: 30px 50px;
    margin-right: 5px;
    font-size: 16px;
    font-family: sans-serif;
}
@media (min-width: 1024px) and (max-width: 1499px) {
    .footer__info {
        padding: 30px 15px;
    }
    .footer__scroll {
        padding: 30px 25px;
    }
}