.iframe_body {
    margin: 0 auto;
    height: 300px;
    width: 420px;
    border: 1px dashed #888888;
    margin: 0 0 5px 0;
}
.text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    height: 100%;
    background-color:#F0F0F0;
    font-size: 14px;
}