.background-header {
    width: 100%;
    background-color: white;
    background-size: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.header-conteiner {
    margin: 0 auto;
    width: 1500px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.title {
    display: inline-block;
    margin: 0;
}
.header__name {
    margin: 19px 0 27px 0;
}
.header__elements {
    z-index: 100px;
    margin: 19px 5px 27px 0;
    display: flex;
    gap: 28px;
}
.header__elements_favorite{
    position: relative;
    cursor: pointer;
}
.header__elements_favorite img{
    height: 35px;
}
.header__elements_basket{
    position: relative;
    cursor: pointer;
}
.header__elements_basket img{
    height: 35px;
}
.header__elements_amount {
    display: none;
    position: absolute;
    top: -8px;
    left: 22px;
    right: calc(100%-20px);
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 3px 5px;
    font-size: 14px;
}
.basket__elements_amount {
    display: none;
    position: absolute;
    top: -8px;
    left: 22px;
    right: calc(100%-20px);
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 3px 5px;
    font-size: 14px;
}
#start {
    width: 31px;
    height: 36px;
    transform: translateY(1px);
}
.text-logo {
    color: #FF5722;
}
@media (min-width: 1024px) and (max-width: 1499px) {
    .header {
        /* padding: 0; */
        padding: 0 25px;
    }
}